.container {
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
    background-color: aqua;
    height: 87vh;
}

.box {
    display: flex;
    flex-direction: row;


}

span {
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
}